    <div id="chatBody" class="jumbotron">
    <div id="header"></div>
    <div class="row">
        <div id="chatroom" class="col-lg-10"></div>
        <div id="chatusers" class="col-lg-2">
            <p><b>Users:</b></p>
        </div>
    </div>
    <div class="row">
        <div id="inputForm" class="col-lg-10">
            <input type="text" id="message" class="form-control" />
            <input type="button" id="sendmessage" value="Send" class="btn btn-default" />
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>

